
 *{margin: 0;
  padding: 0;
  font-family:'Josefin Sans', sans-serif ;
  box-sizing: border-box;
}


.escri{

 display: flex;
 justify-content: center;
 margin-top: 30px;
}

.escribania{


 font-size: 100px;
 color: white;
 font-style:oblique ;
 font-weight: lighter;
 text-shadow: -5px 5px 15px black;
 animation-name: escribania;
 animation-duration: 2s;
}
@keyframes escribania{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.menu_link{
  text-align: right;
  margin-top: 20px;
  border: 2px solid white;
  padding: 20px;
  width: 100%;
}

.link_item{
  display: inline-block;
  list-style: none;
}
.link{
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  padding: 10px;
  position: relative;
  text-shadow: -5px 5px 18px black;
  word-spacing: normal;
}
.link:before{
  content: "";
  width: 0;
  height: 4px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  bottom: 0;
  transition: 0.50s;
}
.slider_right::before{
  right: 0;
}
.link:hover::before{
  width: 100%;
}

.bienvenidos{
 color: white;
 text-align: center;
 font-size: 75px;
  z-index: 1;
 font-style: italic ;
 font-weight: lighter;
 margin-top: 200px;
 text-shadow: -5px 5px 15px black;
 animation-name: aparecer;
 animation-duration: 2s;
}
@keyframes aparecer{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

article{
 z-index: 1;
 display: flex;
 justify-content: center;
 color: white;
 font-size: 20px;
 padding: 5px;
 text-shadow: -5px 5px 15px black;
 animation-name: articulo;
 animation-duration: 2s;
}
@keyframes articulo{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

video{

 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 width: 100%;
 height: 100%;
 z-index: -1;
 object-fit: cover;

}



.body{
  background-color: darkgrey;
}
.mi{
  margin: 20px;
  padding: 20px;
  font-size: 3rem;
  color: white;
  text-shadow: -5px 5px 15px black;
}
.escribania2{
  font-size: 100px;
  color: white;
  font-style:oblique ;
  font-weight: lighter;
  text-shadow: -5px 5px 15px black;
  animation-name: escribania;
  animation-duration: 2s;
 }

.menu2{

  list-style-type: none;
  border: 2px solid white; 
  background-color: transparent;
  width: 100%;
  display: inline-block;
  text-align: right;
  animation-name: menus;
  animation-duration: 2s;
 }
 @keyframes menus{
   0%{
     opacity: 0;
   }
   100%{
     opacity: 1;
   }
 }
 
 .menu2 li{
 
  display: inline-block;
  text-align: center;
  margin: 10px;
  padding: 10px;
  position: relative;
  
 }
 
 .menu2 li a{
 
 text-decoration: none;
 font-family: 'Josefin Sans', sans-serif;
 display: inline-block;
 color: white;
 font-size: 20px;
 margin-right: 10px;
 text-shadow: 5px 5px 15px black;
 font-weight: lighter;
 
 }

.contenedor{

 font-size: 50px;
 margin: 50px;
 margin-bottom: 30px;
 color: white;
 text-shadow: 5px 5px 15px black;
 text-align: center;
}
.pe{

 color: white;
 font-size: 20px;
 margin: 30px;
 padding: 20px;
 text-shadow: 5px 5px 15px black;
 
}

.bodi{

  background-color: grey;
}

.menu3{

 list-style-type: none;
 border: 2px solid white; 
 background-color: transparent;
 width: 100%;
 display: inline-block;
 text-align: right;
 z-index: 1;
 
}

.menu3 li{

 display: inline-block;
 text-align: center;
 margin: 10px;
 padding: 10px;
 position: relative;
 
}

.menu3 li a{

 text-decoration: none;
font-family: 'Josefin Sans', sans-serif;
display: inline-block;
color: white;
font-size: 20px;
margin-right: 10px;
text-shadow: 5px 5px 15px black;

}
.contenedor2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
}
.hijo{
 border: 2.5px solid black;
 border-radius: 5px;
 color: white;
 font-size: 1.5rem;
 margin: 20px;
 padding: 20px;
 text-shadow: 5px 5px 15px black;
}

.ser{

 font-size: 50px;
 margin: 50px;
 margin-bottom: 30px;
 color: white;
 text-shadow: 5px 5px 15px black;
 text-align: center;
}
.serv{

 color: white;
 font-size: 20px;
 margin: 30px;
 padding: 20px;
 text-shadow: 5px 5px 15px black;
 
}
.relleno{

 color: white;
 font-size: 20px;
 margin: 50px;
 padding: 20px;
 text-shadow: 5px 5px 15px black;
}
.cuerpo1{
  background-color: darkgray;
}
.contenedorr{
 color: white;
 font-size: 20px;
 margin: 30px;
 padding: 20px;
 text-shadow: 5px 5px 15px black;
}
.con{
  margin: 20px;
  padding: 20px;
  font-size: 3rem;
  color: white;
  text-shadow: -5px 5px 15px black;
}